<!-- Stable comment + view stats block -->
<section id="post-engagement" class="mt-4 mb-4 text-muted">
  <span id="busuanzi_container_page_pv" class="me-3">
    <i class="fa-regular fa-eye"></i>
    <em id="busuanzi_value_page_pv">-</em>
    浏览
  </span>
  <span id="busuanzi_container_site_uv" class="me-3">
    <i class="fa-solid fa-users"></i>
    <em id="busuanzi_value_site_uv">-</em>
    访客
  </span>
</section>

<script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>

<script
  src="https://utteranc.es/client.js"
  repo="{{ site.comments.utterances.repo }}"
  issue-term="{{ site.comments.utterances.issue_term | default: 'pathname' }}"
  label="{{ site.comments.utterances.label | default: 'comment' }}"
  theme="{{ site.comments.utterances.theme | default: 'github-dark' }}"
  crossorigin="anonymous"
  async
></script>
